/.DS_Store
Katana.xcodeproj/xcuserdata/
Katana.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store
/Carthage
/docs
/build

/Examples/KatanaCodingLove/KatanaCodingLove.xcodeproj/xcuserdata/
/Examples/KatanaCodingLove/KatanaCodingLove.xcodeproj/project.xcworkspace/xcuserdata/
