/.DS_Store
Katana.xcodeproj/xcuserdata/
Katana.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store
/Carthage
/build

/Examples/CodingLove/CodingLove.xcodeproj/xcuserdata/
/Examples/CodingLove/CodingLove.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
